<div class="wrapper">

  <app-header></app-header>

  <app-side-menu></app-side-menu>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper pt-3">

    <!-- <app-breadcrumb></app-breadcrumb> -->

    <!-- Main content -->
    <section class="content">

      <router-outlet></router-outlet>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <app-footer></app-footer>

</div>
<!-- ./wrapper -->