<div class="container-fluid">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>150</h3>

          <p>New Orders</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>53<sup style="font-size: 20px">%</sup></h3>

          <p>Bounce Rate</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>44</h3>

          <p>User Registrations</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>65</h3>

          <p>Unique Visitors</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>
  <!-- /.row -->
  <!-- Main row -->
  <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Employees</h3>

            <div class="card-tools">
              Tools
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0 table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th *ngFor="let column of columnNames">
                    {{ titleCase(column) }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngFor="let column of columnNames">
                    <input name="{{column}}" type="text" class="input-size"/>
                  </td>
                </tr>
                <tr *ngFor="let employee of employeesData">
                  <td *ngFor="let column of columnNames">
                    {{ getValue(employee, column) }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->

          <div class="card-footer clearfix">
            <input type="text" [(ngModel)]="perPage">
            <ul class="pagination pagination-sm text-center mt-0 mb-0">
              <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="getPrevious()">«</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="getNext()">Next</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="getNext()">»</a></li>
            </ul>
          </div>

        </div>
        <!-- /.card -->      
      </div>
  </div>
  <!-- /.row (main row) -->
</div><!-- /.container-fluid -->