<footer class="main-footer">
  <strong>Copyright &copy; 2020 <a href="https://ust-global.com">UST Global</a>.</strong>
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.0
  </div>
</footer>